<!-- HERE WE ARE extending THE layout.html FILE, MEANING WE ARE OVERRIDING PEICES OF IT -->
{% extends "layout.html" %}
<!-- content COMES FROM THE layout.html FILE AND WE ARE OVERRIDING IT HERE AND BY ADDING CONTENT INSIDE -->
{% block content %}
    <!-- LOOP OVER THE posts THAT COME FROM THE flask_blog.py FILE -->
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2>
                <a class="article-title" href="#">{{ post.title }}</a>
            </h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
    <!-- END THE FOR LOOP -->
    {% endfor%}
<!-- END THE content BLOCK -->
{% endblock content %}